{{ msg }}

<form action="" method="post">
  <fieldset>
    <legend>username</legend>
    <input type="test" name="username" id="username" value="" />
  </fieldset>
  <fieldset>
    <legend>password</legend>
    <input type="password" name="password" id="password" />
  </fieldset>
  <input type="submit" value="login" />
</form>