<form action="{{ post_url }}" method="post">
  <fieldset>title:<select name="title" id="title"><option value="">---</option><option>fuga</option><option>Mr.</option><option>Miss</option><option>Mrs.</option></select></fieldset>
  <fieldset>name:<input type="text" value="" name="name" id="name" /></fieldset>
  <fieldset>email(optional):<input type="text" value="" name="email" id="email" /></fieldset>
  <input type="submit" value="Post!" />
</form>